*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  margin-top: 10px;
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
}

header h2{
  font-family: sans-serif;
}

.nav-options{

}

.nav-options ul{
  display: flex;
}

.nav-options ul li{
  text-decoration: none;
  list-style: none;
  margin-right: 70px;
  font-family: sans-serif;
  font-weight: 800;
}
